@charset "UTF-8";

@media (width <= 460px) {
   .popular-now {
      .background {
         overflow-x: hidden;

         position: absolute;
         top: 9rem;
         z-index: -1;
         background-color: #F9D9AA;
         width: 100dvw;
         height: 95%;
   
         border-radius: 4px;
      }
   }

   .fullscreen {
      overflow-x: hidden;
      z-index: 999;
      position: fixed;
      top: 0;
      width: 100%;
      height: 1000vh;
      background-color: rgba(0, 0, 0, 0.454);
      backdrop-filter: blur(5px);
   
      .bigmenu {
         position: absolute;
         top: 0;
         left: 50%;
   
         transform: translate(-50%, 50%);
   
         width: 80%;
         height: 5%;
         background-color: white;
   
         border-radius: 12px;
   
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
   
         img {
            width: 200px;
            height: 120px;
            object-fit: cover;
            border-radius: 12px;
            
            filter: drop-shadow(1px 1px 20px rgba(34, 27, 24, 0.722));
         }
   
         .top {
            padding: .5rem 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80px;
   
            h1 {
               font-size: 1.5rem;

               width: 100%;
               text-align: center;
               transform: translateY(-5px);
   
               font-weight: 600;
               color: #2d2a24;
            }
   
            .closebar {
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               cursor: pointer;
               div {
                  width: 25px;
                  height: 2px;
                  background-color: rgb(38, 36, 36);
                  margin: .2rem 0rem;
               }
   
               div:nth-child(1) {
                  rotate: 44deg;
               }
               div:nth-child(2) {
                  rotate: -44deg;
                  transform: translateY(-6.5px) translateX(4.5px);
               }
            }
            .closebar:hover {
               div {background-color: red;}
            }
         }

         .cart-div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;   
            height: 70px;
   
            margin: 1rem 0rem;
   
            span:nth-child(1),
            span:nth-child(3) {
               display: flex;
               align-items: center;
               justify-content: center;
   
               cursor: pointer;
   
               font-size: 20px;
               font-weight: bold;
               width: 40px;
               height: 30px;
               padding: .3rem 1rem;
               color: white;
               background-color: #FF902A;
               border-radius: 8px;
   
               transition: all .3s ease-in-out;
            }
   
            span:nth-child(2) {
               margin: 0rem 1rem;
               font-weight: bold;
            }
         }
   
         span:nth-child(1):hover {
            padding: .3rem 1.5rem;
         }
         span:nth-child(3):hover {
            padding: .3rem 1.5rem;
         }
   
         .buyDiv {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
   
            button {
               cursor: pointer;
   
               color: #FF902A;
               border: 1px solid #FF902A;
               border-radius: 12px;
               background-color: transparent;
               padding: .3rem 1rem;
            }
         }
      }
   }
}