@charset "UTF-8";

@media (width <= 460px) {
   .popular-now {
      .background {
         position: absolute;
         top: 9rem;
         z-index: -1;
         background-color: #F9D9AA;
         width: 100vw;
         height: 95%;
   
         border-radius: 4px;
      }
   }

   .fullscreen {
      z-index: 999;
      position: fixed;
      top: 0;
      width: 100%;
      height: 1000vh;
      background-color: rgba(0, 0, 0, 0.454);
      backdrop-filter: blur(5px);
   
      .bigmenu {
         position: absolute;
         top: 0;
         left: 50%;
   
         transform: translate(-50%, 50%);
   
         width: 95%;
         height: 5%;
         background-color: white;
   
         border-radius: 12px;
   
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
   
         img {
            width: 200px;
            height: 120px;
            object-fit: cover;
            border-radius: 12px;
            
            filter: drop-shadow(1px 1px 20px rgba(34, 27, 24, 0.722));
         }
   
         .top {
            padding: .5rem 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 80px;
   
            h1 {
               width: 100%;
               text-align: center;
               transform: translateY(-5px);
   
               font-weight: 600;
               color: #2d2a24;
            }
   
            .closebar {
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               cursor: pointer;
               div {
                  width: 25px;
                  height: 2px;
                  background-color: rgb(38, 36, 36);
                  margin: .2rem 0rem;
               }
   
               div:nth-child(1) {
                  rotate: 44deg;
               }
               div:nth-child(2) {
                  rotate: -44deg;
                  transform: translateY(-6.5px) translateX(4.5px);
               }
            }
            .closebar:hover {
               div {background-color: red;}
            }
         }
      }
   }
}